<section class="about">
    <h2>About Us</h2>
    <p>Welcome to Cooking Blog – Your Ultimate Destination for Culinary Delights!</p>

    <p>At Cooking Blog, we're dedicated to celebrating the art of cooking and helping you embark on a flavorful journey through the world of cuisine. Our mission is to inspire your inner chef, whether you're a seasoned pro or a kitchen novice.</p>

    <p>Meet the Team:</p>
    <ul>
        <li><strong>Sanjay</strong> - Founder and Head Chef: With over [1.5] years of culinary experience, Sanjay is the driving force behind this blog. Their passion for cooking and creativity in the kitchen have led to the creation of countless mouthwatering recipes.</li>
        <li><strong>Sarfu</strong> - Culinary Expert. he is our resident culinary expert, always on the lookout for innovative cooking techniques and unique flavors to share with our readers.</li>
   
    </ul>

    <p>What You'll Find Here:</p>
    <p>Explore a diverse range of recipes, cooking tips, and food-related articles that cover:</p>
    <ul>
        <li>Appetizers and Starters</li>
        <li>Desserts and Baking</li>
        <li>Healthy and Dietary Options</li>
        <li>International Cuisine</li>
        <li>Cooking Techniques</li>
       
    </ul>

    <p>Our Commitment:</p>
    <p>We believe that cooking should be an enjoyable and rewarding experience for everyone. That's why we're committed to providing you with easy-to-follow recipes, cooking hacks, and expert advice to make your time in the kitchen a breeze.</p>

    <p>Join us on this culinary adventure, and let's savor the joy of cooking together!</p>

</section>